<div class='container'>
	{{! Botones }}
	<div class='btn-group d-flex' role='group' aria-label='Basic example'>
		<button type='button' class='btn btn-secondary col-4 m-1'>Calcular</button>
		<button type='button' class='btn btn-primary col-4 m-1'>Guardar</button>
		<a href='/' class='btn btn-danger col-4 m-1'>Salir</a>
	</div>

	{{! Datos factura }}
	<div class='col-12 d-flex'>
		<div class='col-7 p-3'>
			{{! FECHA }}
			<div class='mb-3 d-flex align-items-center col-6'>
				<label for='fecha' class='form-label col-4 m-0'>Fecha:</label>
				<input
					type='date'
					class='form-control'
					style='width: 55% !important'
					id='fecha'
				/>
			</div>
			{{! FACTURA }}
			<div class='mb-3 col-6 d-flex align-items-center'>
				<label for='factura' class='form-label col-4 m-0'>Factura:</label>
				<input
					type='text'
					class='form-control'
					style='width: 55% !important'
					id='factura'
				/>
			</div>
			<div class='d-flex col-12'>
				{{! CÓDIGO }}
				<div class='align-items-center col-6'>
					<form
						class='d-flex align-items-center col-12'
						action='/factura'
						method='post'
					>
						<label for='cod' class='form-label col-4 m-0'>Código:</label>
						<input
							type='text'
							name='codigo'
							class='form-control'
							style='width: 55% !important'
							id='cod'
						/>
					</form>
				</div>
				{{! MECÁNICO }}
				<div class='mb-3 col-6 d-flex align-items-center'>
					<label for='mecanico' class='form-label col-4 m-0'>Mecánico:</label>
					<select
						class='form-select'
						style='width: 80% !important'
						id='mecanico'
						aria-label='Default select example'
					>
						<option selected></option>
						<option value='1'>Juan Delgado</option>
						<option value='2'>Carlos Anchundia</option>
						<option value='3'>Ricardo Anchundia</option>
					</select>
				</div>
			</div>
		</div>
		<div class='col-5 p-3'>
			{{! BOTÓN }}
			<div class='mb-3 d-flex align-items-center justify-content-center'>
				<button
					type='button'
					class='btn btn-secondary col-4 m-1'
				>Calcular</button>
			</div>
			{{! TOTAL COMISIÓN CÉSAR }}
			<div class='mb-3 d-flex align-items-center'>
				<label for='factura' class='form-label col-6 m-0'>Total Comisión César:</label>
				<input type='text' class='form-control' id='factura' readonly />
			</div>
			{{! TOTAL COMISIÓN MECÁNICO }}
			<div class='mb-3 d-flex align-items-center'>
				<label for='cod' class='form-label col-6 m-0'>Total Comisión Mecánico:</label>
				<input type='text' class='form-control' id='cod' readonly />
			</div>
		</div>
	</div>
</div>

{{!-- {{> table}} --}}

<div class='col-12'>
	<table class='table col-12'>
		<thead class='table-dark col-12'>
			<tr class='col-12'>
				<th class='text-center col-1' scope='col'>Código</th>
				<th class='text-center col-5' scope='col'>Descripción</th>
				<th class='text-center col-1' scope='col'>Costo</th>
				<th class='text-center col-1' scope='col'>Cantidad</th>
				<th class='text-center col-1' scope='col'>Precio</th>
				<th class='text-center col-1' scope='col'>C. César</th>
				<th class='text-center col-1' scope='col'>Ganancia</th>
				<th class='text-center col-1' scope='col'>C. Mecánico</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class='text-center col-1'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						value={{item.codigo}}
						readonly
					/>
				</td>
				<td class='text-center col-5'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						value={{item.descripcion}}
						readonly
					/>
				</td>
				<td class='text-center col-1'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						value={{item.costo}}
						readonly
					/>
				</td>
				<td class='text-center col-1'>
					<input class='col-12 text-center' type='text' name='' id='' />
				</td>
				<td class='text-center col-1'>
					<input class='col-12 text-center' type='text' name='' id='' />
				</td>
				<td class='text-center col-1'>
					<input class='col-12 text-center' type='text' name='' id='' />
				</td>
				<td class='text-center col-1'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						readonly
					/>
				</td>
				<td class='text-center col-1'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						readonly
					/>
				</td>
			</tr>
		</tbody>
	</table>
</div>