<div class='row'>
	<div class='col-sm-6'>
		<div class='card'>
			<div class='card-body'>
				<h5 class='card-title'>INGRESO DE FACTURAS</h5>
				<a href='factura' class='btn btn-primary'>Go somewhere</a>
			</div>
		</div>
	</div>
	<div class='col-sm-6'>
		<div class='card'>
			<div class='card-body'>
				<h5 class='card-title'>INFORME DE COMISIONES</h5>
				<a href='informe' class='btn btn-primary'>Go somewhere</a>
			</div>
		</div>
	</div>
</div>