<table class='table'>
	<thead class='table-dark'>
		<tr>
			<th class='text-center' scope='col'>Código</th>
			<th class='text-center' scope='col'>Descripción</th>
			<th class='text-center' scope='col'>Costo</th>
			<th class='text-center' scope='col'>Cantidad</th>
			<th class='text-center' scope='col'>Precio</th>
			<th class='text-center' scope='col'>Comisión César</th>
			<th class='text-center' scope='col'>Ganancia</th>
			<th class='text-center' scope='col'>Comisión Mecánico</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class='text-center'>
				<input type='text' name='' id='' />
			</td>
			<td class='text-center'>
				<input type='text' name='' id='' />
			</td>
			<td class='text-center'>
				<input type='text' name='' id='' />
			</td>
			<td class='text-center'>
				<input type='text' name='' id='' />
			</td>
			<td class='text-center'>
				<input type='text' name='' id='' />
			</td>
			<td class='text-center'>
				<input type='text' name='' id='' />
			</td>
			<td class='text-center'>
				<input type='text' name='' id='' />
			</td>
			<td class='text-center'>
				<input type='text' name='' id='' />
			</td>
		</tr>
	</tbody>
</table>