<div class='col-12'>
	<table class='table col-12'>
		<thead class='table-dark col-12'>
			<tr class='col-12'>
				<th class='text-center col-1' scope='col'>Código</th>
				<th class='text-center col-5' scope='col'>Descripción</th>
				<th class='text-center col-1' scope='col'>Costo</th>
				<th class='text-center col-1' scope='col'>Cantidad</th>
				<th class='text-center col-1' scope='col'>Precio</th>
				<th class='text-center col-1' scope='col'>C. César</th>
				<th class='text-center col-1' scope='col'>Ganancia</th>
				<th class='text-center col-1' scope='col'>C. Mecánico</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class='text-center col-1'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						readonly
					/>
				</td>
				<td class='text-center col-5'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						readonly
					/>
				</td>
				<td class='text-center col-1'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						readonly
					/>
				</td>
				<td class='text-center col-1'>
					<input class='col-12 text-center' type='text' name='' id='' />
				</td>
				<td class='text-center col-1'>
					<input class='col-12 text-center' type='text' name='' id='' />
				</td>
				<td class='text-center col-1'>
					<input class='col-12 text-center' type='text' name='' id='' />
				</td>
				<td class='text-center col-1'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						readonly
					/>
				</td>
				<td class='text-center col-1'>
					<input
						class='col-12 text-center'
						type='text'
						name=''
						id=''
						readonly
					/>
				</td>
			</tr>
		</tbody>
	</table>
</div>