<div class='col-12'>
	<table class='table col-12'>
		<thead class='table-dark col-12'>
			<tr class='col-12'>
				<th class='text-center col-4' scope='col'>Código</th>
				<th class='text-center col-4' scope='col'>Descripción</th>
				<th class='text-center col-4' scope='col'>Costo</th>
				<th class='text-center col-4' scope='col'>Cantidad</th>
				<th class='text-center col-4' scope='col'>Precio</th>
				<th class='text-center col-4' scope='col'>Comisión César</th>
				<th class='text-center col-4' scope='col'>Ganancia</th>
				<th class='text-center col-4' scope='col'>Comisión Mecánico</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class='text-center'>
					<input type='text' name='' id='' />
				</td>
				<td class='text-center'>
					<input type='text' name='' id='' />
				</td>
				<td class='text-center'>
					<input type='text' name='' id='' />
				</td>
				<td class='text-center'>
					<input type='text' name='' id='' />
				</td>
				<td class='text-center'>
					<input type='text' name='' id='' />
				</td>
				<td class='text-center'>
					<input type='text' name='' id='' />
				</td>
				<td class='text-center'>
					<input type='text' name='' id='' />
				</td>
				<td class='text-center'>
					<input type='text' name='' id='' />
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class='col-12'>
	<div class='header col-12'>
		<div class='header-item col-4'>Código</div>
		<div class='header-item col-4'>Descripción</div>
		<div class='header-item col-4'>Costo</div>
		<div class='header-item col-4'>Cantidad</div>
		<div class='header-item col-4'>Precio</div>
		<div class='header-item col-4'>Comisión</div>
		<div class='header-item col-4'>Ganancia</div>
		<div class='header-item col-4'>Comisión Mecánico</div>
	</div>
	<div class='body col-12'></div>
</div>